@model ProductDetailViewModel
<div class="page-title shop-page-title product-page-title">
    <div class="page-title-inner flex-row medium-flex-wrap container">
        <div class="flex-col flex-grow medium-text-center">
            <div class="is-larger">
                <nav class="woocommerce-breadcrumb breadcrumbs uppercase"><a href="../index.html">Trang chủ</a> <span class="divider">&#47;</span> <a href="../ruou-truyen-thong/index.html">Rượu truyền thống</a></nav>
            </div>
        </div><!-- .flex-left -->

        <div class="flex-col medium-text-center">
        </div><!-- .flex-right -->
    </div><!-- flex-row -->
</div><!-- .page-title -->

<main id="main" class="">

    <div class="shop-container">

        <div class="container">
            <div class="woocommerce-notices-wrapper"></div>
        </div>
        <div id="product-1296" class="product type-product post-1296 status-publish first instock product_cat-ruou-truyen-thong product_tag-hoang-hoa-tuu product_tag-ruou-bieu-tet product_tag-ruou-qua-bieu product_tag-ruou-qua-tang product_tag-ruou-truyen-thong product_tag-ruou-truyen-thong-viet-nam product_tag-somo product_tag-somo-gold has-post-thumbnail shipping-taxable purchasable product-type-simple">
            <div class="product-container">
                <div class="product-main">
                    <div class="row mb-0 content-row">


                        <div class="product-gallery large-5 col">

                            <div class="product-images relative mb-half has-hover woocommerce-product-gallery woocommerce-product-gallery--with-images woocommerce-product-gallery--columns-4 images" data-columns="4">

                                <div class="badge-container is-larger absolute left top z-1">
                                </div>
                                <div class="image-tools absolute top show-on-hover right z-3">
                                </div>

                                <figure class="woocommerce-product-gallery__wrapper product-gallery-slider slider slider-nav-small mb-half">


                                    <div data-thumb="@Model.Images[0]" class="woocommerce-product-gallery__image slide first">
                                            <img id="product-image-main"  style=" width: 480px; height: 480px; object-fit: cover; " width="480" height="480" src="@Model.Images[0]" class="lazy-load wp-post-image skip-lazy" alt="@Model.Name" title="@Model.Name">
                                   
                                    </div>


                                </figure>

                            </div>

                            <div class="product-thumbnails thumbnails slider-no-arrows slider row row-small row-slider slider-nav-small small-columns-4">
                                @for (int i = 0; i < Model.Images.Count; i++)
                                {
                                    if (i == 0)
                                    {
                                        <div class="col product-thumbnail-item is-nav-selected first">
                                            <a>
                                                <img src="@Model.Images[i]" alt="@Model.Name" width="300" height="" class="attachment-woocommerce_thumbnail" />
                                            </a>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col product-thumbnail-item">
                                            <a>
                                                <img src="@Model.Images[i]" alt="@Model.Name" width="300" height="" class="lazy-load attachment-woocommerce_thumbnail">
                                            </a>
                                        </div>
                                    }

                                }



                            </div><!-- .product-thumbnails -->
                        </div>

                        <div class="product-info summary col-fit col-divided col entry-summary product-summary text-left">


                            <h1 class="product-title product_title entry-title">
                                @Model.Name
                            </h1>


                            <div class="product-short-description">
                                @Html.Raw(Model.Description)

                            </div>





                            <a href="tel:0944487586" class="devvn_buy_now devvn_buy_now_style">
                                <strong>Liên Hệ 0944.487.586</strong>
                                <span></span>
                            </a>
                            <div class="product_meta">



                                <span class="posted_in">
                                    Danh mục:
                                    @foreach (var item in Model.Categories)
                                    {
                                        <a href="@($"/danh-muc-san-pham/{item.SeoUrl}-{item.Id}")" rel="tag">@item.Name</a>

                                    }

                                </span>


                            </div>

                        </div>

                        <div id="product-sidebar" class="col large-3 hide-for-medium ">
                            <aside id="text-2" class="widget widget_text">
                                <div class="textwidget">
                                    <div class="product-helpfull-info">
                                        <h2 class="product-helpfull-info--title">Hỗ trợ khách hàng</h2>
                                        <div class="product-helpfull-info--content">Liên hệ <a href="tel:0944487586"> 0944.487.586</a></div>
                                    </div>
                                </div>
                            </aside><aside id="text-4" class="widget widget_text">
                                <div class="textwidget">
                                    <div class="textwidget thong-tin-cua-hang">

                                        <h3>Sản phẩm có sẵn hàng:</h3>
                                        <p><strong>Quý khách có thể tham khảo Website hoặc Gọi tư vấn</strong></p>
                                        <p>– Địa chỉ: 27D Đường 510 -Trung Sơn -TT Bút Sơn- Hoằng Hóa-Thanh Hóa</p>
                                        <p>– ĐT: 0944.487.586</p>
                                        <p>&nbsp;</p>
                                    </div>
                                </div>
                            </aside>
                        </div>

                    </div><!-- .row -->
                </div><!-- .product-main -->
                <div class="thong-tin-bo-sung">
                    <div class="container">
                        <div class="custom-form-1">
                            <div class="left">
                                <h3>Thông tin cơ bản</h3>
                                <div>
                                    @Html.Raw(Model.BasicInformation)
                                </div>

                            </div>
                            <div class="right">
                                <h3>Thưởng thức</h3>
                                <div>
                                    @Html.Raw(Model.Enjoy)
                                </div>
                            </div>
                            <div class="clearboth"></div>
                        </div>
                        @if (!string.IsNullOrEmpty(Model.Note))
                        {
                            <div class="luu-y">
                                <h3>Một số lưu ý:</h3>
                                <div>
                                    @Html.Raw(Model.Note)
                                </div>
                            </div>
                        }


                    </div>
                </div>
                <div class="product-footer">
                    <div class="container">

                        <div class="woocommerce-tabs container tabbed-content">
                            <ul class="product-tabs small-nav-collapse tabs nav nav-uppercase nav-tabs nav-normal nav-center">
                                <li class="description_tab  active">
                                    <a href="#tab-description">Mô tả</a>
                                </li>

                            </ul>
                            <div class="tab-panels">


                                <div class="panel entry-content active" id="tab-description">
                                    @Html.Raw(Model.Content)
                                </div>




                            </div><!-- .tab-panels -->
                        </div><!-- .tabbed-content -->


                        <div class="related related-products-wrapper product-section">

                            <h3 class="product-section-title container-width product-section-title-related pt-half pb-half uppercase">
                                Sản phẩm tương tự
                            </h3>



                            <div class="row large-columns-5 medium-columns-3 small-columns-2 row-small slider row-slider slider-nav-reveal slider-nav-push" data-flickity-options='{"imagesLoaded": true, "groupCells": "100%", "dragThreshold" : 5, "cellAlign": "left","wrapAround": true,"prevNextButtons": true,"percentPosition": true,"pageDots": false, "rightToLeft": false, "autoPlay" : false}'>



                                @foreach (var item in Model.ProductSuggestions.ToList())
                                {
                                    <div class="product-small col has-hover product type-product post-1456 status-publish instock product_cat-ruou-truyen-thong product_tag-somogold product_tag-tay-duong-sam-tuu has-post-thumbnail shipping-taxable purchasable product-type-simple">
                                        <div class="col-inner">


                                            <div class="product-small box ">
                                                <div class="box-image">
                                                    <div class="image-fade_in_back">
                                                        <a href="@($"/san-pham/{item.SeoUrl}-{item.Id}")" aria-label="@item.Name">
                                                            <img width="300" height="300" src="@item.Image" class="lazy-load attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" decoding="async" loading="lazy" srcset="" />
                                                        </a>
                                                    </div>
                                                    <div class="image-tools is-small top right show-on-hover">
                                                    </div>
                                                    <div class="image-tools is-small hide-for-small bottom left show-on-hover">
                                                    </div>
                                                    <div class="image-tools grid-tools text-center hide-for-small bottom hover-slide-in show-on-hover">
                                                    </div>
                                                </div>

                                                <div class="box-text box-text-products text-center grid-style-2">
                                                    <div class="title-wrapper">
                                                        <p class="name product-title woocommerce-loop-product__title">
                                                            <a href="@($"/san-pham/{item.SeoUrl}-{item.Id}")" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">@Model.Name</a>
                                                        </p>
                                                    </div><div class="price-wrapper">
                                                        <span class="price"><span class="woocommerce-Price-amount amount"><bdi>Liên Hệ</bdi></span></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }




                            </div>
                        </div>

                    </div><!-- container -->
                </div><!-- product-footer -->
            </div><!-- .product-container -->

        </div>


    </div><!-- shop container -->

</main>
