@using WebCore.Domain.Catalog;
@model ArticleDetailViewModel
<main id="main" class="">

    <div id="content" class="blog-wrapper blog-archive page-wrapper">
        <header class="archive-page-header">
            <div class="row">
                <div class="large-12 text-center col">
                    <h1 class="page-title is-large uppercase">
                        <span>@Model.ArticleCategory.Name</span>
                    </h1>
                </div>
            </div>
        </header><!-- .page-header -->


        <div class="row row-large ">

            <div class="large-9 col">
                <article id="post-520" class="post-520 post type-post status-publish format-standard has-post-thumbnail hentry category-blogs category-cac-giong-nho category-gioi-thieu-ruou-vang category-ke-chuyen-ruou-vang category-nghe-thuat-thuong-thuc category-vung-trong-nho tag-huong-dan-su-dung-vang-nho tag-nghe-thuat-trong-nho">
                    <div class="article-inner ">
                        <header class="entry-header">
                            <div class="entry-header-text entry-header-text-top text-left">
                                <h6 class="entry-category is-xsmall">
                                    @foreach (var item in Model.ArticleCategories)
                                    {
                                        <a href="@("/danh-muc-bai-viet/"+item.SeoUrl+"-"+item.Id)" rel="category tag">@item.Name</a> @(",")

                                    }


                                </h6>

                                <h1 class="entry-title">@Model.Articles.Name</h1>
                                <div class="entry-divider is-divider small">
                                    @Model.Articles.Decsription
                                </div>

                                <div class="entry-meta uppercase is-xsmall">
                                    <span class="posted-on">
                                        Posted on <a href="#" rel="bookmark">
                                            <time class="entry-date published"
                                                  datetime="">@Model.Articles.DateModified.ToString("dd/MM/yyy")</time>

                                        </a>
                                    </span><span class="byline"> by <span class="meta-author vcard"><a class="url fn n" href="../author/admin/index.html">admin</a></span></span>
                                </div>
                            </div>
                        </header>
                        <div class="entry-content single-page">
                            @Html.Raw(Model.Articles.Content)
                        </div><!-- .entry-content2 -->

                        <footer class="entry-meta text-left">
                            <div class="danh-muc">
                                Danh mục:
                                @foreach (var item in Model.ArticleCategories)
                                {
                                    <a href="@("/danh-muc-bai-viet/"+item.SeoUrl+"-"+item.Id)" rel="category tag">@item.Name</a>

                                    @(",")



                                }


                            </div>
                            <div class="the-tim-kiem">
                                Thẻ tìm kiếm:
                                @if (!string.IsNullOrEmpty(Model.Articles.Keywords))
                                {
                                    foreach (var item in Model.Articles.Keywords.Split("|"))
                                    {
                                        <a href="#" rel="tag">@item</a>  @(",")
                                    }
                                }


                            </div>
                        </footer><!-- .entry-meta -->


                        <nav role="navigation" id="nav-below" class="navigation-post">
                            <div class="flex-row next-prev-nav bt bb">
                                <div class="flex-col flex-grow nav-prev text-left">
                                    @if (Model.ArticlePre !=null)
                                    {
                                        <div class="nav-previous">
                                            <a href="@("/bai-viet/"+Model.ArticlePre.SeoUrl+"-"+Model.ArticlePre.Id)" rel="prev">
                                                <span class="hide-for-small">
                                                    <i class="icon-angle-left"></i>
                                                </span>  @Model.ArticlePre.Name
                                            </a>
                                        </div>
                                    }
                                   
                                </div>
                                <div class="flex-col flex-grow nav-next text-right">
                                    @if (Model.ArticleNext != null)
                                    {
                                        <div class="nav-next">
                                            <a href="@("/bai-viet/"+Model.ArticleNext.SeoUrl+"-"+Model.ArticleNext.Id)" rel="next">
                                                @Model.ArticleNext.Name <span class="hide-for-small"><i class="icon-angle-right"></i></span>
                                            </a>
                                        </div>
                                    }
                                   
                                </div>
                            </div>

                        </nav>

                    </div>
                </article>
            </div>
            <div class="post-sidebar large-3 col">
                <div id="secondary" class="widget-area " role="complementary">
                    <aside id="categories-2" class="widget widget_categories">
                        <span class="widget-title "><span>Danh mục bài viết</span></span><div class="is-divider small"></div>
                        <ul>
                            @foreach (var item in Model.ArticleCategories)
                            {
                                <li class="cat-item cat-item-1 current-cat active">
                                    <a aria-current="page" href="@("/danh-muc-bai-viet/"+item.SeoUrl+"-"+item.Id)">@item.Name</a> (@item.ArticleCount)
                                </li>
                            }

                        </ul>

                    </aside>
                    <aside id="flatsome_recent_posts-2" class="widget flatsome_recent_posts">
                        <span class="widget-title "><span>Bài viết mới cập nhật</span></span><div class="is-divider small"></div>
                        <ul>
                            @foreach (var item in Model.ArticleSuggesion)
                            {
                                <li class="recent-blog-posts-li">
                                    <div class="flex-row recent-blog-posts align-top pt-half pb-half">
                                        <div class="flex-col mr-half">
                                            <div class="badge post-date  badge-square">
                                                <div class="badge-inner bg-fill" style="background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2) ), url(../wp-content/uploads/2019/03/138_grande-150x150.jpg); color:#fff; text-shadow:1px 1px 0px rgba(0,0,0,.5); border:0;">
                                                    <span class="post-date-day">@item.DateModified.Day.ToString()</span><br>
                                                    <span class="post-date-month is-xsmall">@item.DateModified.Month.ToString()</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="flex-col flex-grow">
                                            <a href="@("/bai-viet/"+item.SeoUrl+"-"+item.Id)" title="@item.Name">@item.Name</a>
                                            <span class="post_comments op-7 block is-xsmall">
                                                <a href="@("/bai-viet/"+item.SeoUrl+"-"+item.Id)"></a>
                                            </span>
                                        </div>
                                    </div>
                                </li>
                            }


                        </ul>

                </div>
            </div>
        </div>

    </div>


</main>